*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

p, a, h2, h3, h4, h5{
  font-family: 'Dosis', sans-serif;
}

header{
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: fit-content;
 
  padding: 2em 0;


  
  
}
.text-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  min-height: 30vh;
  gap: 1em;
  width: min(95%, 1500px) ;
  margin-inline: auto;
  
 @media (max-width: 700px){
  grid-template-columns: 1fr;
  
 }
  h1{
    font-size: clamp(2rem, 5vw, 3rem);
    border-top: 3px solid rgb(0, 0, 255);
    padding: .5em;
    border-bottom: 3px solid yellow;

    
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    border-radius: .3em;
 

  }
  p{
    
    line-height: .8em;
    font-size: clamp(2rem, 4vw, 4rem);
   width: min(90%, 1500px);
 
   display: grid;
   place-content: center;
   padding: .5em;
   text-wrap: balance;

  

   

  }
}

ul{
  display: flex;
  gap: 2em;

  justify-content: center;
  padding-top: 1em;
  list-style: none;
  background-color: white;
  color: black;
  li{
    font-size: clamp(3rem, 4vw, 4rem);
    border: 2px solid white;
    border-radius: .3em;
  }
}

.ofertas-wrapper{
  width: min(90%, 1400px);
  margin-inline: auto;

  margin-top: 2em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  display: grid;
  min-height: 60vh;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  img{
    height: 100%;
    object-fit: cover;

  }
}

.confira{
  width: min(95%, 1000px);
  margin-inline: auto;
  display: inline;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 12px solid black;
  border-right: 12px solid black;
  padding: 1em 2em;
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-top: 1em;
  text-align: center;
  border-radius: .3em;
  text-decoration: none;
  color: black;
  line-height: .8;
}

.confira:visited{
  color: rgb(0, 0, 0);
}



.confira:hover{
  background-color: black;
  color: white;
  border-radius: 0;
  text-decoration: none;
  
}
.ofertas-text-container{
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1em;
  max-width: 90%;
 
  h2{
    font-size: clamp(3rem, 4vw, 5rem);
    line-height: .7;
    

  }
  p{
    font-size: clamp(2rem, 4vw, 3rem);
    line-height:.7;
  }
  
}

.sobre-wrapper{
  padding: 6em 0;
  margin-top: 4em;
  color: white;
  background-color: rgb(10, 117, 184);
  h4{
    font-size: clamp(3rem, 4vw, 5rem);
    border-bottom: 2px solid white;
      width: min(90%, 1400px);
  margin-inline: auto;
  }
  p{
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 1;
     width: min(90%, 1400px);
  margin-inline: auto;
  margin-top: 2em;
  }
  
}

footer{

       background-color: black;
      color: white;
  

      padding: 10em 1em;
      display: grid;
   
      gap: 1em;
   
    h4{
      font-size: clamp(3rem, 5vw, 5rem);
        width: min(95%, 1100px);
  margin-inline: auto;
   
    }
    p{
      font-size: clamp(2rem, 4vw, 4rem);
      border-bottom: 2px solid red;
       width: min(95%, 1100px);
  margin-inline: auto;
    }
}

main{
  display: grid;
  gap: 2em;
}

.header-alimentos{
  padding: 1em;
  a{
    text-decoration: none;
  }
  h1{
       border-top: 3px solid rgb(0, 0, 255);
    padding: .5em;
    border-bottom: 3px solid yellow;

    
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;

    border-radius: .3em;
    font-size: clamp(1rem, 4vw, 2rem);
    width: fit-content;
    margin-inline: auto;
    line-height: .8;
  }
  
  }
 
  


.exposição-container{
  width: min(95%, 1100px);
  margin-inline: auto;;

  h2{
    font-size: clamp(3rem, 4vw, 5rem);
    line-height: 1;
    margin-top: 1em;

  }
  p{
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: .9;
    padding-bottom: 1em;
  }
  ul{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  gap: 1em;

  li{
    img{
      height: 8em;
      object-fit: cover;
      border: 2px solid black;
      border-radius: .2em;
      width: 100%;
    }
      p{
      text-align: center;
      padding: .5em;
      
  }
  }
}
  }

.details-container{
    border: 2px solid black;
    font-size: clamp(2rem, 4vw, 3rem);
    summary{
    
      padding: .5em 1em;
    }
    ul{
      padding: .5em;
    }

  
}

  .exposição-footer{
    height: 30vh;
    margin-top: 5em;
    max-width: 100%;
  }
